# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage
*.lcov

# output
.next
.turbo
.drizzle
out
dist
*.tgz
__pycache__

# production
build
dist
.archives

# misc
.DS_Store
*.pem

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Agents & AI tooling
.agents
.claude
skills-lock.json